<!DOCTYPE html>
<html>
<head>
    <title>Liste des Équipements</title>
</head>
<body>
    <h1>Liste des Équipements</h1>
    <a href="{% url 'dashboard' %}">Aller au Tableau de Bord</a> |
    <a href="{% url 'export_excel' %}">Exporter vers Excel</a>
    <ul>
        {% for equipement in equipments %}
            <li>
                <a href="{% url 'equipment_detail' equipement.id %}">{{ equipement.nom }}</a>
            </li>
        {% empty %}
            <li>Aucun équipement trouvé.</li>
        {% endfor %}
    </ul>
</body>
</html>